<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Use only the feeds we declare here -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Map package IDs to feeds. The '*' makes nuget.org the default. -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="AdvancedSharpAdbClient" />
      <package pattern="CommunityToolkit.*" />
      <package pattern="MediaDevices" />
      <package pattern="SixLabors.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
